$btn-background-color: #747474;
$btn-text-color: #fff;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$color-primary: #676767;
$color-white: #fff;
$color-primary-dark: #c2185b;
$color-black: #000;